html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-padding-bottom: 0.1rem;
    margin: 0;
    padding: 0;
    background-color: black;
}

.child {
    scroll-snap-align: start;
}